
@{
    ViewBag.Title = "Salesperday";
}

<h2>Sales per day</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <canvas id="barcanvas"></canvas>
        </div>
    </div>
    <div style="text-align: center;">
        Tiedot on haettu paikallisesta testitietokannasta!
    </div>
</div>