
@{
    ViewBag.Title = "Top10sales";
}

@section scripts {
    <script type="text/javascript">

        let labelTexts = [@Html.Raw(ViewBag.productName)];
        let dataValues = [@ViewBag.productSales];

        const ctx = document.getElementById('barcanvas').getContext('2d');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelTexts,
                datasets: [{
                    label: 'Sales in money per category',
                    data: dataValues,
                    backgroundColor: [
                        'rgba(255,99,132,1)',
                        'rgba(100,255,10,1)',
                        'rgba(10,99,232,1)',
                        'rgba(50,200,130,1)',
                        'rgba(200,100,170,1)',
                        'rgba(30,150,255,1)',
                        'rgba(222,0,230,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
}


<h2>Top 10 most sold products</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <canvas id="barcanvas"></canvas>
        </div>
    </div>
    <div style="text-align: center;">
        Tiedot on haettu Azuren -tietokannasta!
    </div>
</div>

